.cal-picker {
  display: flex;
  gap: 1rem;
  width: fit-content;
  border: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  padding: 0.4rem;
  background-color: aliceblue;
  width: 603px;
  flex-wrap: wrap;

  .brdr-btm {
    border-bottom: 1px solid;
  }

  .dual-months {
    display: flex;
    gap: 32px;
  }

  .cal-view {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    // gap: 0.4rem;
    font-family: cursive;
    .weekday {
      text-align: center;
      font-weight: 600;
    }

    .days {
      text-align: center;
      padding: 10px;
      cursor: pointer;
    }
    .selected {
      background: green;
    }
    .inRange {
      background: red;
    }
  }

  .btn {
    width: inherit;
    .separate-line {
      height: 1px;
      background: red;
    }

    .btn-grps {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      margin-top: 8px;
      margin-right: 8px;
      button {
        background: none;
        border: 1px solid green;
        padding: 6px 20px;
        border-radius: 2rem;
        font-family: cursive;
        cursor: pointer;

        &:hover {
          background: yellow;
          color: red;
        }
      }
    }
  }
}
